<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交易查询</title>

    <link rel="stylesheet" href="../static/css/ws.css"/>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/element.js"></script>
    <script src="/static/js/js.cookie.js"></script>
  </head>
  <body>
    <div id="app">
      <el-container class="container">
        <el-header>
          <el-row :gutter="20">
            <el-col :span="4" style="text-align:left; ">
              <el-button
                size="small"
                style="display: block; margin-top: 14px;"
                icon="el-icon-caret-left"
                @click="onExit"
              />
            </el-col>
            <el-col :span="16">
              {{ name }}
            </el-col>
          </el-row>
        </el-header>
        <el-container>
<!--          <el-aside width="200px">-->
<!--            <p>输入交易哈希值查询交易</p>-->
<!--          </el-aside>-->

          <el-container ref="container">
            <el-main ref="area" style="margin-bottom: 160px;">
              <el-table
                :data="chatData"
                :show-header="false"
                :height="tableHeight"
                ref="table"
              >
                <el-table-column>
                  <template slot-scope="scope">
                    <span style="font-size: 14px;">@{{ scope.row.result }}</span>
                    <i class="el-icon-time" style="margin-left: 12px"></i>
                    <span>{{ scope.row.timestamp| formatDate }}</span>
                    <p style="margin-left: 2px;">{{ scope.row.text }}</p>
                  </template>
                </el-table-column>
              </el-table>
            </el-main>

            <el-footer style="width: 100%; position: absolute; bottom: 0; text-align: left;">

              <div style="width: 90%; display: inline-block;">
                <input style="width: 10%; height: 35px" placeholder="input the height of block, e.g. 2" id="height" v-model="value" ref="input1" @keyup.enter.native="sendHeight"/>
                <el-button type="primary" @click="sendHeight">Query block</el-button>
                <input style="width: 25%; height: 35px; margin-left: 60px" placeholder="input the hash of tx" id="tx" v-model="msg" ref="input" @keyup.enter.native="sendTx"/>
<!--                <button style="width: 70px; height: 40px" onclick="document.getElementById('tx').value=''">Clear</button>-->
                <el-button type="primary" @click="sendTx">Query tx</el-button>

                <input style="width: 10%; height: 35px; margin-left: 60px" placeholder="e.g. key=value" id="broadcast" v-model="value3" ref="input3" @keyup.enter.native="broadcast"/>
<!--                <button style="width: 70px; height: 40px" onclick="document.getElementById('broadcast').value=''">Clear</button>-->
                <el-button type="primary" @click="broadcast">Release</el-button>

                <input style="width: 22%; height: 35px; margin-left: 60px" placeholder="Benchmark test, e.g. method=commit,duration=100,host=localhost:36657" id="benchmark" v-model="value2" ref="input2" @keyup.enter.native="sendBench"/>
<!--                <button style="width: 70px; height: 40px" onclick="document.getElementById('benchmark').value=''">Clear</button>-->
                <el-button type="primary" @click="sendBench">Start</el-button>
                <button style="width: 70px; height: 40px" onclick="stopBench()">Stop</button>
              </div>

            </el-footer>
          </el-container>
        </el-container>
      </el-container>
    </div>
    <script>
      const name = Cookies.get("host")
        ? Cookies.get("host")
        : (window.location.href = "/");
      const EventTypeMsg = "event-msg",
        EventTypeSystem = "event-system";

      const stop = initSocket(name)

      function initSocket(arg) {
        let url = `ws://${window.location.host}/ws/socket?name=${arg}`;
        return new WebSocket(url);
      }

      function queryBlock(){
        let height = document.getElementById("height").value;
        alert("Query " + height + " block?");
        return height;
      }

      function queryTx(){
        let tx = document.getElementById("tx").value;
        alert("Query transaction " + tx + "?");
        return tx;
      }

      function bench() {
        let command = document.getElementById("benchmark").value;
        alert("Run command "+command+"?")
        return command;
      }

      function getTx() {
        let tx = document.getElementById("broadcast").value;
        alert("Release transaction " + tx + "?");
        return tx;
      }

      function stopBench() {
        const req = JSON.stringify({
          msg: "",
          typ: "stop"
        });
        stop.send(req)
      }

      const app = new Vue({
        el: "#app",
        data() {
          return {
            socket: null,
            tableHeight: window.innerHeight - 120,
            name: "Address of blockchain node: "+name,
            userCount: 0,
            msg: "",
            chatData: []
          };
        },
        mounted() {
          const socket = initSocket(name);
          this.setUpSocket(socket);
          this.socket = socket;
          window.addEventListener(
            "resize",
            _ => (this.tableHeight = window.innerHeight - 120)
          );
        },
        watch: {
          socket(val) {
            if (!val) {
              this.socket = initSocket(Cookies.get("host"));
              this.setUpSocket(this.socket);
            }
          },
          chatData() {
            // 滚动到最底部
            this.$nextTick(() => {
              const div = this.$refs.table.bodyWrapper;
              div.scrollTop = div.scrollHeight;
            });
          }
        },
        filters: {
          formatDate(val) {
            const date = new Date(val);
            const y = date.getFullYear();
            const m = date.getMonth() + 1;
            const d = date.getDate();
            const hh = date.getHours();
            const mm = date.getMinutes();
            const ss = date.getSeconds();
            return `${m}-${d} ${hh}:${mm}:${ss}`;
          }
        },
        methods: {
          setUpSocket(socket) {
            socket.onopen = () => {
              this.$message({
                type: "success",
                message: "The connection is successful"
              });
            };
            socket.onclose = () => {
              this.$message({
                type: "warning",
                message: "The connection is disconnected"
              });
              this.socket = null;
            };
            socket.onmessage = event => {
              let dt = JSON.parse(event.data);
              switch (dt.type) {
                case EventTypeMsg:
                  this.receiveMsg(dt);
                  this.userCount = dt.userCount;
                  console.log(this.userCount);
                  break;
                case EventTypeSystem:
                  this.userCount = dt.userCount;
                  break;
              }
            };
          },
          onExit() {
            window.location.href = "/";
          },
          sendTx() {
            if (!this.msg) {
              this.$refs.input.focus();
              return;
            }
            const req = JSON.stringify({
              msg: queryTx(),
              typ: "tx"
            });
            this.socket &&
              (this.socket.send(req),
              (this.msg = ""),
              this.$refs.input.focus());
          },
          sendHeight() {
            if (!this.value) {
              this.$refs.input1.focus();
              return;
            }
            const req = JSON.stringify({
              msg: queryBlock(),
              typ: "block"
            });
            this.socket &&
            (this.socket.send(req),
                    (this.value = ""),
                    this.$refs.input1.focus());
          },
          sendBench() {
            if (!this.value2) {
              this.$refs.input2.focus();
              return;
            }
            const req = JSON.stringify({
              msg: bench(),
              typ: "benchmark"
            });
            this.socket &&
            (this.socket.send(req),this.$refs.input2.focus());
          },
          broadcast() {
            if (!this.value3) {
              this.$refs.input3.focus();
              return;
            }
            const req = JSON.stringify({
              msg: getTx(),
              typ: "pub"
            });
            this.socket &&
            (this.socket.send(req),
                    (this.value3 = ""),
                    this.$refs.input3.focus());
          },
          receiveMsg(data) {
            this.chatData.push(data);
          }
        }
      });

    </script>
  </body>
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .container {
      height: 100vh;
      width: 100vw;
    }
    .el-header {
      background-color: #283443;
      font-size: 30px;
      color: #eee;
      text-align: center;
      line-height: 60px;
    }
    .el-footer {
      background-color: #283443;
      color: #eee;
      text-align: center;
      line-height: 60px;
    }
    .el-aside {
      background-color: #d3dce6;
      color: #333;
      text-align: center;
      height: 100%;
    }
    .el-main {
      padding: 0 0 0 10px;
    }

    .el-table::before {
      z-index: inherit;
    }
    td {
      border: none !important;
    }
    td:hover {
      background: #ffffff !important;
    }
  </style>
</html>
